.product-list {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  gap: 15px;

  > * {
    @media (min-width: 768px) {
      flex-basis: 48%;
    }
    @media (min-width: 992px) {
      flex-basis: 28%;
    }
    @media (min-width: 1200px) {
      flex-basis: 18%;
    }
  }
}
